/* Main Recipe Page */

.main-title {
    font-family: "Times New Roman", serif;
    color: rgb(192, 79, 79);
}

.recipe {
    font-family: "Times New Roman", serif;
    background-color: rgb(240, 183, 183);
    width: 140px;
    margin: 12px;
    padding: 8px;
}